In [1]:
import pandas as pd

In [2]:
social_df = pd.read_csv('social.csv')
social_df.head(50)

   LOCATION   INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value  Flag Codes
0       AUS  SOCSUPPORT     OLD      PC         A  2010  92.938334         NaN
1       AUS  SOCSUPPORT     OLD      PC         A  2011  92.938334         NaN
2       AUS  SOCSUPPORT     OLD      PC         A  2012  92.938334         NaN
3       AUS  SOCSUPPORT     OLD      PC         A  2013  92.938334         NaN
4       AUS  SOCSUPPORT     OLD      PC         A  2014  92.938334         NaN
5       AUS  SOCSUPPORT     OLD      PC         A  2015  92.938334         NaN
6       AUS  SOCSUPPORT     OLD      PC         A  2016  92.938334         NaN
7       AUS  SOCSUPPORT     OLD      PC         A  2017  92.938334         NaN
8       AUS  SOCSUPPORT     OLD      PC         A  2018  92.938334         NaN
9       AUS  SOCSUPPORT     OLD      PC         A  2019  92.938334         NaN
10      AUS  SOCSUPPORT     OLD      PC         A  2020  92.938334         NaN
11      AUS  SOCSUPPORT     OLD      PC         A  2021  92.938334         NaN
12      AUT  SOCSUPPORT     OLD      PC         A  2010  90.150273         NaN
13      AUT  SOCSUPPORT     OLD      PC         A  2011  90.150273         NaN
14      AUT  SOCSUPPORT     OLD      PC         A  2012  90.150273         NaN
15      AUT  SOCSUPPORT     OLD      PC         A  2013  90.150273         NaN
16      AUT  SOCSUPPORT     OLD      PC         A  2014  90.150273         NaN
17      AUT  SOCSUPPORT     OLD      PC         A  2015  90.150273         NaN
18      AUT  SOCSUPPORT     OLD      PC         A  2016  90.150273         NaN
19      AUT  SOCSUPPORT     OLD      PC         A  2017  90.150273         NaN
20      AUT  SOCSUPPORT     OLD      PC         A  2018  90.150273         NaN
21      AUT  SOCSUPPORT     OLD      PC         A  2019  90.150273         NaN
22      AUT  SOCSUPPORT     OLD      PC         A  2020  90.150273         NaN
23      AUT  SOCSUPPORT     OLD      PC         A  2021  90.150273         NaN
24      BEL  SOCSUPPORT     OLD      PC         A  2010  90.191936         NaN
25      BEL  SOCSUPPORT     OLD      PC         A  2011  90.191936         NaN
26      BEL  SOCSUPPORT     OLD      PC         A  2012  90.191936         NaN
27      BEL  SOCSUPPORT     OLD      PC         A  2013  90.191936         NaN
28      BEL  SOCSUPPORT     OLD      PC         A  2014  90.191936         NaN
29      BEL  SOCSUPPORT     OLD      PC         A  2015  90.191936         NaN
30      BEL  SOCSUPPORT     OLD      PC         A  2016  90.191936         NaN
31      BEL  SOCSUPPORT     OLD      PC         A  2017  90.191936         NaN
32      BEL  SOCSUPPORT     OLD      PC         A  2018  90.191936         NaN
33      BEL  SOCSUPPORT     OLD      PC         A  2019  90.191936         NaN
34      BEL  SOCSUPPORT     OLD      PC         A  2020  90.191936         NaN
35      BEL  SOCSUPPORT     OLD      PC         A  2021  90.191936         NaN
36      CAN  SOCSUPPORT     OLD      PC         A  2010  92.071098         NaN
37      CAN  SOCSUPPORT     OLD      PC         A  2011  92.071098         NaN
38      CAN  SOCSUPPORT     OLD      PC         A  2012  92.071098         NaN
39      CAN  SOCSUPPORT     OLD      PC         A  2013  92.071098         NaN
40      CAN  SOCSUPPORT     OLD      PC         A  2014  92.071098         NaN
41      CAN  SOCSUPPORT     OLD      PC         A  2015  92.071098         NaN
42      CAN  SOCSUPPORT     OLD      PC         A  2016  92.071098         NaN
43      CAN  SOCSUPPORT     OLD      PC         A  2017  92.071098         NaN
44      CAN  SOCSUPPORT     OLD      PC         A  2018  92.071098         NaN
45      CAN  SOCSUPPORT     OLD      PC         A  2019  92.071098         NaN
46      CAN  SOCSUPPORT     OLD      PC         A  2020  92.071098         NaN
47      CAN  SOCSUPPORT     OLD      PC         A  2021  92.071098         NaN
48      CZE  SOCSUPPORT     OLD      PC         A  2010  87.790239         NaN
49      CZE  SOCSUPPORT     OLD      PC         A  2011  87.790239         NaN

In [3]:
social_df.dtypes

LOCATION       object
INDICATOR      object
SUBJECT        object
MEASURE        object
FREQUENCY      object
TIME            int64
Value         float64
Flag Codes    float64
dtype: object

In [4]:
social_df["TIME"]=social_df["TIME"].astype(str)

In [5]:
social_df["LocationTime"] = social_df[["LOCATION", "TIME"]].apply("-".join, axis=1)
pd.DataFrame=social_df
social_df.head(10)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,LocationTime
0,AUS,SOCSUPPORT,OLD,PC,A,2010,92.938334,NaN,AUS-2010
1,AUS,SOCSUPPORT,OLD,PC,A,2011,92.938334,NaN,AUS-2011
2,AUS,SOCSUPPORT,OLD,PC,A,2012,92.938334,NaN,AUS-2012
3,AUS,SOCSUPPORT,OLD,PC,A,2013,92.938334,NaN,AUS-2013
4,AUS,SOCSUPPORT,OLD,PC,A,2014,92.938334,NaN,AUS-2014
5,AUS,SOCSUPPORT,OLD,PC,A,2015,92.938334,NaN,AUS-2015
6,AUS,SOCSUPPORT,OLD,PC,A,2016,92.938334,NaN,AUS-2016
7,AUS,SOCSUPPORT,OLD,PC,A,2017,92.938334,NaN,AUS-2017
8,AUS,SOCSUPPORT,OLD,PC,A,2018,92.938334,NaN,AUS-2018
9,AUS,SOCSUPPORT,OLD,PC,A,2019,92.938334,NaN,AUS-2019

In [6]:
social_df["TIME"]=social_df["TIME"].astype(int)

In [7]:
social_df.dtypes

LOCATION         object
INDICATOR        object
SUBJECT          object
MEASURE          object
FREQUENCY        object
TIME              int64
Value           float64
Flag Codes      float64
LocationTime     object
dtype: object

In [8]:
social_df = social_df.drop(columns=['Flag Codes', 'MEASURE', 'SUBJECT', 'FREQUENCY', 'INDICATOR'])
social_df.head(10)

  LOCATION  TIME      Value LocationTime
0      AUS  2010  92.938334     AUS-2010
1      AUS  2011  92.938334     AUS-2011
2      AUS  2012  92.938334     AUS-2012
3      AUS  2013  92.938334     AUS-2013
4      AUS  2014  92.938334     AUS-2014
5      AUS  2015  92.938334     AUS-2015
6      AUS  2016  92.938334     AUS-2016
7      AUS  2017  92.938334     AUS-2017
8      AUS  2018  92.938334     AUS-2018
9      AUS  2019  92.938334     AUS-2019

In [9]:
social_df.isnull().any()

LOCATION        False
TIME            False
Value           False
LocationTime    False
dtype: bool

In [10]:
social_time_df = social_df.loc[(social_df['TIME'] >= 1990) & (social_df['TIME'] <= 2020)]
social_time_df

    LOCATION  TIME      Value LocationTime
0        AUS  2010  92.938334     AUS-2010
1        AUS  2011  92.938334     AUS-2011
2        AUS  2012  92.938334     AUS-2012
3        AUS  2013  92.938334     AUS-2013
4        AUS  2014  92.938334     AUS-2014
..       ...   ...        ...          ...
470      ZAF  2015  84.788197     ZAF-2015
471      ZAF  2016  84.788197     ZAF-2016
472      ZAF  2017  84.788197     ZAF-2017
473      ZAF  2018  84.788197     ZAF-2018
474      ZAF  2019  84.788197     ZAF-2019

[436 rows x 4 columns]

In [11]:
social_clean_df = social_time_df[['LocationTime','LOCATION','TIME', 'Value']]
social_clean_df

    LocationTime LOCATION  TIME      Value
0       AUS-2010      AUS  2010  92.938334
1       AUS-2011      AUS  2011  92.938334
2       AUS-2012      AUS  2012  92.938334
3       AUS-2013      AUS  2013  92.938334
4       AUS-2014      AUS  2014  92.938334
..           ...      ...   ...        ...
470     ZAF-2015      ZAF  2015  84.788197
471     ZAF-2016      ZAF  2016  84.788197
472     ZAF-2017      ZAF  2017  84.788197
473     ZAF-2018      ZAF  2018  84.788197
474     ZAF-2019      ZAF  2019  84.788197

[436 rows x 4 columns]

In [12]:
social_rename_df = social_clean_df.rename(columns={'Value':'Social_spt_val'})
social_rename_df

    LocationTime LOCATION  TIME  Social_spt_val
0       AUS-2010      AUS  2010       92.938334
1       AUS-2011      AUS  2011       92.938334
2       AUS-2012      AUS  2012       92.938334
3       AUS-2013      AUS  2013       92.938334
4       AUS-2014      AUS  2014       92.938334
..           ...      ...   ...             ...
470     ZAF-2015      ZAF  2015       84.788197
471     ZAF-2016      ZAF  2016       84.788197
472     ZAF-2017      ZAF  2017       84.788197
473     ZAF-2018      ZAF  2018       84.788197
474     ZAF-2019      ZAF  2019       84.788197

[436 rows x 4 columns]

In [13]:
social_rename_df.duplicated().sum()

0

In [14]:
social_rename_df.to_csv("social_support_clean.csv", index=False)