In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
# IMPORTING CSV FILE-Suicide OECD
oecd_data = os.path.join('suicide_oecd_clean.csv')
oecd_df = pd.read_csv(oecd_data)
oecd_df.head()

,LocationTime,LOCATION,TIME,Suicide_val_MEN,Suicide_val_TOT,Suicide_val_WOMEN
0,ARG-1990,ARG,1990,15.3,9.3,4.6
1,ARG-1991,ARG,1991,13.8,8.2,3.8
2,ARG-1992,ARG,1992,15.8,9.0,3.7
3,ARG-1993,ARG,1993,16.8,9.3,3.6
4,ARG-1994,ARG,1994,15.4,8.7,3.5

In [5]:
#Drop Columns
oecd_df = oecd_df.drop(columns=['Suicide_val_MEN','Suicide_val_WOMEN','LOCATION',"TIME"])
display(oecd_df)

     LocationTime  Suicide_val_TOT
0        ARG-1990              9.3
1        ARG-1991              8.2
2        ARG-1992              9.0
3        ARG-1993              9.3
4        ARG-1994              8.7
...           ...              ...
1326     ZAF-2014              1.2
1327     ZAF-2015              1.0
1328     ZAF-2016              0.8
1329     ZAF-2017              0.7
1330     ZAF-2018              0.6

[1331 rows x 2 columns]

In [6]:
# Get Null Values
oecd_df.isnull().sum()

LocationTime       0
Suicide_val_TOT    0
dtype: int64

In [8]:
# IMPORTING CSV FILE-Alcohol
alc_data = os.path.join('alcohol_clean.csv')
alc_df = pd.read_csv(alc_data)
alc_df.head()

  LocationTime LOCATION  TIME  Alcohol_val
0     AUS-1990      AUS  1990         10.6
1     AUS-1991      AUS  1991         10.1
2     AUS-1992      AUS  1992          9.9
3     AUS-1993      AUS  1993         10.2
4     AUS-1994      AUS  1994         10.0

In [9]:
#Drop Columns
alc_df = alc_df.drop(columns=['LOCATION','TIME'])
alc_df.head()

  LocationTime  Alcohol_val
0     AUS-1990         10.6
1     AUS-1991         10.1
2     AUS-1992          9.9
3     AUS-1993         10.2
4     AUS-1994         10.0

In [10]:
# Merge OECD and Alcohol
df1 = pd.merge(oecd_df, alc_df, on='LocationTime', how='left')
display(df1)

     LocationTime  Suicide_val_TOT  Alcohol_val
0        ARG-1990              9.3          NaN
1        ARG-1991              8.2          NaN
2        ARG-1992              9.0          NaN
3        ARG-1993              9.3          NaN
4        ARG-1994              8.7          NaN
...           ...              ...          ...
1326     ZAF-2014              1.2          7.2
1327     ZAF-2015              1.0          7.2
1328     ZAF-2016              0.8          7.3
1329     ZAF-2017              0.7          7.3
1330     ZAF-2018              0.6          7.2

[1331 rows x 3 columns]

In [11]:
# IMPORTING CSV FILE-Education
edu_data = os.path.join('Education_clean.csv')
edu_df = pd.read_csv(edu_data)
edu_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Education_clean.csv'

In [ ]:
#Drop Columns
edu_df = edu_df.drop(columns=['LOCATION','TIME'])
edu_df.head()

In [ ]:
# Merge df1 and Education
df2 = pd.merge(df1, edu_df, on='LocationTime', how='left')
display(df2)

In [ ]:
# IMPORTING CSV FILE-Employment
emp_data = os.path.join('..', 'Final Project','Clean Data', 'employment_clean.csv')
emp_df = pd.read_csv(emp_data)
emp_df.head()

In [ ]:
#Drop Columns
emp_df = emp_df.drop(columns=['LOCATION','TIME','employment_val_MEN_PC_WKGPOP','employment_val_MEN_THND_PER','employment_val_WOMEN_PC_WKGPOP','employment_val_WOMEN_THND_PER'])
emp_df.head()

In [ ]:
# Merge df2 and Employment
df3 = pd.merge(df2, emp_df, on='LocationTime', how='left')
display(df3)

In [ ]:
# IMPORTING CSV FILE-Health Spending
hSpend_data = os.path.join('..', 'Final Project','Clean Data', 'health_spending_clean.csv')
hSpend_df = pd.read_csv(hSpend_data)
hSpend_df.head()

In [ ]:
#Drop Columns
hSpend_df = hSpend_df.drop(columns=['LOCATION'])
hSpend_df.head()

In [ ]:
# Merge df3 and Health Spending
df4 = pd.merge(df3, hSpend_df, on='LocationTime', how='left')
display(df4)

In [ ]:
# IMPORTING CSV FILE-Obesity
ob_data = os.path.join('..', 'Final Project','Clean Data', 'obesity_clean.csv')
ob_df = pd.read_csv(ob_data)
ob_df.head()

In [ ]:
#Drop Columns
ob_df = ob_df.drop(columns=['LOCATION','TIME'])
ob_df.head()

In [ ]:
# Merge df4 and Obesity
df5 = pd.merge(df4, ob_df, on='LocationTime', how='left')
display(df5)

In [ ]:
# IMPORTING CSV FILE-Poverty
pov_data = os.path.join('..', 'Final Project','Clean Data', 'poverty_clean.csv')
pov_df = pd.read_csv(pov_data)
pov_df.head()

In [ ]:
#Drop Columns
pov_df = pov_df.drop(columns=['LOCATION','TIME'])
pov_df.head()

In [ ]:
# Merge df5 and Poverty
df6 = pd.merge(df5, pov_df, on='LocationTime', how='left')
display(df6)

In [ ]:
# IMPORTING CSV FILE-Smoking
smok_data = os.path.join('..', 'Final Project','Clean Data', 'smoking_clean.csv')
smok_df = pd.read_csv(smok_data)
smok_df.head()

In [ ]:
#Drop Columns
smok_df = smok_df.drop(columns=['LOCATION','TIME'])
smok_df.head()

In [ ]:
# Merge df6 and Smoking
df7 = pd.merge(df6, smok_df, on='LocationTime', how='left')
display(df7)

In [ ]:
# Get Null Values
df7.isnull().sum()

In [ ]:
# IMPORTING CSV FILE-Social Spending
socSpend_data = os.path.join('..', 'Final Project','Clean Data', 'social_spending_clean.csv')
socSpend_df = pd.read_csv(socSpend_data)
socSpend_df.head()

In [ ]:
#Drop Columns
socSpend_df = socSpend_df.drop(columns=['LOCATION','TIME'])
socSpend_df.head()

In [ ]:
# Merge df7 and Social Spending
df8 = pd.merge(df7, socSpend_df, on='LocationTime', how='left')
display(df8)

In [ ]:
# IMPORTING CSV FILE-Social Support
socSup_data = os.path.join('..', 'Final Project','Clean Data', 'social_support_clean.csv')
socSup_df = pd.read_csv(socSup_data)
socSup_df.head()

In [ ]:
#Drop Columns
socSup_df = socSup_df.drop(columns=['TIME'])
socSup_df.head()

In [ ]:
# Merge df8 and Social Support
df9 = pd.merge(df8, socSup_df, on='LocationTime', how='left')
display(df9)

In [ ]:
# IMPORTING CSV FILE-Demographics
demo_data = os.path.join('..', 'Final Project','Clean Data', 'suicide_clean.csv')
demo_df = pd.read_csv(demo_data)
demo_df.head()

In [ ]:
#Drop Columns
demo_df = demo_df.drop(columns=['Location','country','year'])
demo_df.head()

In [ ]:
# Merge df9 and Demographics
df10 = pd.merge(df9, demo_df, on='LocationTime', how='left')
display(df10)

In [ ]:
# Get Null Values
df10.isnull().sum()

In [ ]:
# Save in a new csv file
df10.to_csv('Suicide-Final2.csv', index=False)