In [1]:
import pandas as pd

In [2]:
#import the data
obesity_df= pd.read_csv("../Resources/Obesity_1990_2020.csv")

In [3]:
#view top 10 
obesity_df.head(10)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,OVEROBESE,MEASURED,PC_POP15,A,1980,36.5,D
1,AUS,OVEROBESE,MEASURED,PC_POP15,A,1983,39.7,D
2,AUS,OVEROBESE,MEASURED,PC_POP15,A,1989,43.8,D
3,AUS,OVEROBESE,MEASURED,PC_POP15,A,1995,59.2,NaN
4,AUS,OVEROBESE,MEASURED,PC_POP15,A,2007,61.2,D
5,AUS,OVEROBESE,MEASURED,PC_POP15,A,2011,63.4,D
6,AUS,OVEROBESE,MEASURED,PC_POP15,A,2014,63.4,D
7,AUS,OVEROBESE,MEASURED,PC_POP15,A,2017,65.2,NaN
8,AUS,OVEROBESE,SELFREPORTED,PC_POP15,A,1995,38.7,NaN
9,AUS,OVEROBESE,SELFREPORTED,PC_POP15,A,2001,50.0,D

In [4]:
#change Datatype of time to Str
obesity_df["TIME"]=obesity_df["TIME"].astype(str)

In [5]:
#Combine Location and Time into Single Column
obesity_df["LocationTime"] = obesity_df[["LOCATION", "TIME"]].apply("-".join, axis=1)
pd.DataFrame=obesity_df

In [6]:
#change Datatype of time back to int
obesity_df["TIME"]=obesity_df["TIME"].astype(int)

In [7]:
obesity_df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,LocationTime
0,AUS,OVEROBESE,MEASURED,PC_POP15,A,1980,36.5,D,AUS-1980
1,AUS,OVEROBESE,MEASURED,PC_POP15,A,1983,39.7,D,AUS-1983
2,AUS,OVEROBESE,MEASURED,PC_POP15,A,1989,43.8,D,AUS-1989
3,AUS,OVEROBESE,MEASURED,PC_POP15,A,1995,59.2,NaN,AUS-1995
4,AUS,OVEROBESE,MEASURED,PC_POP15,A,2007,61.2,D,AUS-2007
...,...,...,...,...,...,...,...,...,...
536,IDN,OVEROBESE,SELFREPORTED,PC_POP15,A,1993,13.0,NaN,IDN-1993
537,IDN,OVEROBESE,SELFREPORTED,PC_POP15,A,2014,25.0,NaN,IDN-2014
538,LTU,OVEROBESE,SELFREPORTED,PC_POP15,A,2005,48.1,NaN,LTU-2005
539,LTU,OVEROBESE,SELFREPORTED,PC_POP15,A,2014,53.3,NaN,LTU-2014
540,LTU,OVEROBESE,SELFREPORTED,PC_POP15,A,2019,55.0,NaN,LTU-2019

In [8]:
#filter to only include years 1990-2020
obesity_df_filter= obesity_df.loc[(obesity_df['TIME'] >= 1990) & (obesity_df['TIME'] <= 2020)]
obesity_df_filter

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,LocationTime
3,AUS,OVEROBESE,MEASURED,PC_POP15,A,1995,59.2,NaN,AUS-1995
4,AUS,OVEROBESE,MEASURED,PC_POP15,A,2007,61.2,D,AUS-2007
5,AUS,OVEROBESE,MEASURED,PC_POP15,A,2011,63.4,D,AUS-2011
6,AUS,OVEROBESE,MEASURED,PC_POP15,A,2014,63.4,D,AUS-2014
7,AUS,OVEROBESE,MEASURED,PC_POP15,A,2017,65.2,NaN,AUS-2017
...,...,...,...,...,...,...,...,...,...
536,IDN,OVEROBESE,SELFREPORTED,PC_POP15,A,1993,13.0,NaN,IDN-1993
537,IDN,OVEROBESE,SELFREPORTED,PC_POP15,A,2014,25.0,NaN,IDN-2014
538,LTU,OVEROBESE,SELFREPORTED,PC_POP15,A,2005,48.1,NaN,LTU-2005
539,LTU,OVEROBESE,SELFREPORTED,PC_POP15,A,2014,53.3,NaN,LTU-2014
540,LTU,OVEROBESE,SELFREPORTED,PC_POP15,A,2019,55.0,NaN,LTU-2019

In [9]:
#drop Extra columns
obesity_df_clean=obesity_df_filter.drop(columns=["Flag Codes", "MEASURE", "FREQUENCY"])
obesity_df_clean

    LOCATION  INDICATOR       SUBJECT  TIME  Value LocationTime
3        AUS  OVEROBESE      MEASURED  1995   59.2     AUS-1995
4        AUS  OVEROBESE      MEASURED  2007   61.2     AUS-2007
5        AUS  OVEROBESE      MEASURED  2011   63.4     AUS-2011
6        AUS  OVEROBESE      MEASURED  2014   63.4     AUS-2014
7        AUS  OVEROBESE      MEASURED  2017   65.2     AUS-2017
..       ...        ...           ...   ...    ...          ...
536      IDN  OVEROBESE  SELFREPORTED  1993   13.0     IDN-1993
537      IDN  OVEROBESE  SELFREPORTED  2014   25.0     IDN-2014
538      LTU  OVEROBESE  SELFREPORTED  2005   48.1     LTU-2005
539      LTU  OVEROBESE  SELFREPORTED  2014   53.3     LTU-2014
540      LTU  OVEROBESE  SELFREPORTED  2019   55.0     LTU-2019

[495 rows x 6 columns]

In [10]:
obesity_df_clean = obesity_df_clean[['LocationTime','LOCATION','INDICATOR','SUBJECT','TIME', 'Value']]
obesity_df_clean

    LocationTime LOCATION  INDICATOR       SUBJECT  TIME  Value
3       AUS-1995      AUS  OVEROBESE      MEASURED  1995   59.2
4       AUS-2007      AUS  OVEROBESE      MEASURED  2007   61.2
5       AUS-2011      AUS  OVEROBESE      MEASURED  2011   63.4
6       AUS-2014      AUS  OVEROBESE      MEASURED  2014   63.4
7       AUS-2017      AUS  OVEROBESE      MEASURED  2017   65.2
..           ...      ...        ...           ...   ...    ...
536     IDN-1993      IDN  OVEROBESE  SELFREPORTED  1993   13.0
537     IDN-2014      IDN  OVEROBESE  SELFREPORTED  2014   25.0
538     LTU-2005      LTU  OVEROBESE  SELFREPORTED  2005   48.1
539     LTU-2014      LTU  OVEROBESE  SELFREPORTED  2014   53.3
540     LTU-2019      LTU  OVEROBESE  SELFREPORTED  2019   55.0

[495 rows x 6 columns]

In [11]:
obesity_df_clean.to_csv("obesity_clean.csv", index=False)